<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex,nofollow" />
		@if(IsSectionDefined("AdditionalMeta"))
		{
			@RenderSection("AdditionalMeta")
		}
		@if(IsSectionDefined("Title"))
		{
			@RenderSection("Title")
		}
		else
		{
			<title>Sample</title>
		}
		@if(IsSectionDefined("Style"))
		{
			@RenderSection("Style")
		}
		else
		{
			<link asp-append-version="true" href="~/Style/Site.min.css" rel="stylesheet" />
		}
		@if(IsSectionDefined("AdditionalStyle"))
		{
			@RenderSection("AdditionalStyle")
		}
	</head>
	<body>
		<partial name="~/Views/Shared/Parts/Header.cshtml" />
		<main class="container-md mb-4" role="main">
			@RenderBody()
		</main>
		@if(IsSectionDefined("Scripts"))
		{
			@RenderSection("Scripts")
		}
		else
		{
			<script asp-append-version="true" src="~/Scripts/Site.min.js"></script>
		}
		@if(IsSectionDefined("AdditionalScripts"))
		{
			@RenderSection("AdditionalScripts")
		}
	</body>
</html>